<!-- START Top Navbar-->
<nav role="navigation" ng-controller="HeaderNavController as header" class="navbar topnavbar">


         <!-- START navbar header-->
         <div class="navbar-header">
            <a ui-sref="app.landing" class="navbar-brand">
               <img src="app/img/fondo-logo.png" alt="CFSE" class="brand-logo" style="max-height: 70%;" />
            </a>
            <!-- Mobile buttons-->
            <div class="mobile-toggles">
                <!-- Button to show/hide the header menu on mobile. Visible on mobile only.-->
               <a href="" ng-click="header.toggleHeaderMenu()" class="menu-toggle hidden-material">
                  <em class="fa fa-ellipsis-v fa-fw"></em>
               </a>
            </div>
         </div>
         <!-- END navbar header-->

         <!-- START Nav wrapper-->
         <div uib-collapse="header.headerMenuCollapsed" class="nav-wrapper collapse navbar-collapse">
            <!-- START Left navbar-->
            <ul class="nav navbar-nav hidden-material">
               <li>
                 <!-- Button used to collapse the left sidebar. Only visible on tablet and desktops-->
                  <!-- <a href="" ng-click="app.sidebar.isOffscreen = !app.sidebar.isOffscreen" class="hidden-xs">
                     <em ng-class="app.sidebar.isOffscreen ? 'fa-caret-right':'fa-caret-left'" class="fa"></em>
                  </a> -->
               </li>
            </ul>

            <!-- END Left navbar-->
            <div style="margin-top: 10px;">
               <div class="nav navbar-nav navbar-right" style="margin-right: 15px;">
                  <a ui-sref="app.login" style="display: inline-block; height: 43px;">
                     <i class="icon fa fa-sign-in" style="font-size: 30px; color: white; top: 5px; position: relative;"></i>
                  </a>
                  <span style="font-size: 20px; color: white;">{{sessionText}}</span>
               </div>
            </div>

         </div>
         <!-- END Nav wrapper-->

  <!--  <div ng-show="showUsername" class="row" style="color: white; font-size: 12px;">
      <div class="col-md-2 col-md-offset-10">
         Bienvenido Username, Patrono, San Juan
      </div>
   </div> -->

</nav>
<!-- END Top Navbar-->
