.app-view-header
  | Dashboard
  small(ng-bind="app.name + ' - ' + app.description")

.container-fluid(ng-controller="DashboardController as dashboard")
  .text-center
    h2 {{dashboard.title}}
    p {{dashboard.text}}