<div class="app-view-header text-center" ng-hide="app.isLoggedIn">
	Portal de Transacciones
</div>
<div ng-controller="DashboardController as dashboard" class="container-fluid">

   <div class="row text-center text-muted m0" ng-hide="app.displayHistory">
    	<div class="col-xs-12 col-md-2 col-md-offset-3">
            <div class="panel panel-default" style="cursor:pointer;">
                <div ripple ng-click="employerSelected = true;" class="bb br" ng-class="{'bg-primary': employerSelected, 'pv-sm': app.isLoggedIn, 'pv-xxl': !app.isLoggedIn}" >
                    <em class="fa fa-user fa-2x mv"></em>
                    <p>Patronos</p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-2">
            <div class="panel panel-default" style="cursor:pointer;">
                <div class="bb-lg br" ng-class="{'pv-xxl': !app.isLoggedIn, 'pv-sm': app.isLoggedIn, 'bg-gray': app.isLoggedIn}">
                    <em class="fa fa-medkit fa-2x mv"></em>
                    <p>Proveedores</p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-2">
            <div class="panel panel-default" style="cursor:pointer;">
                <div class="bb-lg br" ng-class="{'pv-xxl': !app.isLoggedIn, 'pv-sm': app.isLoggedIn, 'bg-gray': app.isLoggedIn}">
                    <em class="fa fa-bed fa-2x mv"></em>
                    <p>Lesionados</p>
                </div>
            </div>
        </div>
    </div>
    <!-- <br> -->
	<div ng-show="app.displayHistory && !dashboard.goToWizard">
		<div class="row" >
			<div class="app-view-header text-center">
				Historial de Certificados de Deuda Solicitados
			</div>
		</div>
		<div class="row">
			<div class="col-xs-11 col-md-offset-1">
				<button type="button" ripple class="mr mb-sm btn btn-default" name="button" ng-click="dashboard.goToWizard = true;">
					Pedir Certificado Nuevo
					<span class="ripple">
						<span class="angular-ripple" style="width:89px; height:89px; left: -0.328125px; top: -35.5px;"></span>
					</span>
				</button>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-xs-12 col-md-10 col-md-offset-1">
				<div class="panel panel-default" ng-repeat="patrono in dashboard.patronos track by patrono.id">
					<div class="panel-heading bg-cfse" style="color:#fff !important;">
						<div class="panel-title" ng-click="patrono.isCollapsed = !patrono.isCollapsed" style="cursor:pointer;">
							<h4 class="m0">{{patrono.name}}</h4>
						</div>
					</div>
					<div class="panel-body" uib-collapse="patrono.isCollapsed">
						<div class="row">
							<div class="col-xs-12 col-md-10 col-md-offset-1" ng-repeat="poliza in patrono.polizas track by poliza.id">
								<div class="panel panel-default">
									<div class="panel-heading bg-cfse" style="color:#fff !important;">
										<div class="panel-title" ng-click="poliza.isCollapsed = !poliza.isCollapsed" style="cursor:pointer;">
											<h4 class="m0">Poliza: {{poliza.pNum}}</h4>
										</div>
									</div>
									<div class="panel-body" uib-collapse="poliza.isCollapsed">
										<div class="row">
											<div class="col-xs-12 col-md-2" ng-repeat="p in poliza.certifications track by $index">
												<div class="panel panel-default">
													<div class="panel-body bg-cfse" ripple ng-click="dashboard.download()" style="cursor:pointer;">
													<h1 class="text-center mt">{{p.date}}</h1><span class="fa fa-file-pdf-o"></span>
												</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div ng-show="dashboard.goToWizard">
		<div class="row" >
			<div class="app-view-header text-center">
				Solicitud de Nuevo Certificado de Deuda
			</div>
			<div class="col-xs-12 col-md-10 col-md-offset-1">
				<div class="panel panel-default">
					<div class="panel-body">
						<div ng-init="activeStep = 1" class="wizard">
							<ul class="steps-bar">
								<li ng-class="{'active':activeStep >= 1}" class="active">
									<span>Patrono</span>
								</li>
								<li ng-class="{'active':activeStep >= 2}">
									<span>Poliza</span>
								</li>
								<li ng-class="{'active':activeStep >= 3}">
									<span>Fecha</span>
								</li>
								<li ng-class="{'active':activeStep >= 4}">
									<span>Certificado</span>
								</li>
							</ul>
							<div ng-show="activeStep == 1" class="wizard-step">
								<h4>Seleccione Patrono</h4>
								<div class="row">
									<div class="col-xs-12 col-md-4 col-md-offset-4">
										<form class="" action="index.html" method="post">
											<div class="form-group">
												<label for="" class="control-label">Patronos: </label>
												<select class="form-control" name="" >
													<option value="{{patrono.id}}" ng-repeat="patrono in dashboard.patronos track by patrono.id">{{patrono.name}}</option>
												</select>
											</div>
										</form>
									</div>
								</div>
								<div class="row">
									<div class="mt pull-right">
										<button type="button" ripple class="mr mb-sm btn btn-default" name="button" ng-click="activeStep = activeStep + 1">
											Continuar
											<span class="ripple">
												<span class="angular-ripple" style="width:89px; height:89px; left: -0.328125px; top: -35.5px;"></span>
											</span>
										</button>
									</div>
								</div>
							</div>
							<div ng-show="activeStep == 2" class="">
								<h4>Seleccione Poliza</h4>
								<div class="row">
									<div class="col-xs-12 col-md-4 col-md-offset-4">
										<form class="mb-lg" action="index.html" method="post">
											<div class="form-group">
												<label for="" class="control-label">Poliza: </label>
												<select class="form-control" name="" >
													<option value="{{patrono.id}}" ng-repeat="poliza in dashboard.polizas track by poliza.id">{{poliza.pNum}}</option>
												</select>
											</div>
										</form>
									</div>
								</div>
								<div class="row">
									<div class="mt pull-right">
										<button type="button" ripple class="mr mb-sm btn btn-default" name="button" ng-click="activeStep = activeStep + 1">
											Continuar
											<span class="ripple">
												<span class="angular-ripple" style="width:89px; height:89px; left: -0.328125px; top: -35.5px;"></span>
											</span>
										</button>
									</div>
								</div>
							</div>
							<div ng-show="activeStep == 3" class="">
								<h4>Seleccione Fecha</h4>
								<div class="row">
									<div class="col-xs-12 col-md-4 col-md-offset-4">
										<form class="mb-lg" action="index.html" method="post">
											<div class="form-group">
												<label for="" class="control-label">Fecha: </label>
												<select class="form-control" name="" >
													<option value="">2016</option>
													<option value="">2015</option>
													<option value="">2014</option>
													<option value="">2013</option>
													<option value="">2012</option>
													<option value="">2011</option>
												</select>
											</div>
										</form>
									</div>
								</div>
								<div class="row">
									<div class="mt pull-right">
										<button type="button" ripple class="mr mb-sm btn btn-default" name="button" ng-click="activeStep = activeStep + 1">
											Continuar
											<span class="ripple">
												<span class="angular-ripple" style="width:89px; height:89px; left: -0.328125px; top: -35.5px;"></span>
											</span>
										</button>
									</div>
								</div>
							</div>
							<div ng-show="activeStep == 4" class="">
								<h4>Descargar Certificado de Deuda</h4>
								<div class="row">
									<br>
									<div class="col-xs-12 col-md-4 col-md-offset-4">
										<form class="mb-lg" action="index.html" method="post">
											<button type="button" name="button" class="btn btn-primary btn-block" style="background-color:#cd7c5e; border-color:#cd7c5e; color:#fff !important;">Descargar Certificado</button>
										</form>
									</div>
								</div>
								<div class="row">
									<div class="mt pull-right">
										<button type="button" ripple class="mr mb-sm btn btn-default" name="button" ng-click="dashboard.goToWizard = false; activeStep = 1;">
											Finalizar
											<span class="ripple">
												<span class="angular-ripple" style="width:89px; height:89px; left: -0.328125px; top: -35.5px;"></span>
											</span>
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

    <!-- <div class="row" style="margin-top: 15px;" ng-show="employerSelected">
    	<div class="col-md-6 col-md-offset-3" ng-hide="app.displayCreateNewCasePanels">
    		<abn-tree tree-data="transactions" expand-level='0'></abn-tree>
			<abn-tree tree-data="createNewCase"></abn-tree>
    	</div>
    </div>

	<br> -->

	<!-- <div class="row" style="margin-top: 15px;" ng-show="app.displayCreateNewCasePanels">
		<div class="col-md-10 col-md-offset-1">
			<form class="" action="index.html" method="post">
				<uib-accordion close-others="false">
					<uib-accordion-group is-open="dashboard.accordion.patron" panel-class="bg-cfse-light">
						<uib-accordion-heading>
							<span style="color: white;">
								Informaci&oacute;n del Patrono <i class="pull-right glyphicon"
								ng-class="{'glyphicon-chevron-down': dashboard.accordion.patron, 'glyphicon-chevron-right': !status.dashboard.accordion.patron}"></i>
							</span>
						</uib-accordion-heading>
						<div class="panel-body">
							<div class="form-group">
								<div class="row">
									<div class="col-md-6">
										<label for="" class="control-label">Nombre del Patrono</label>
										<input type="text" name="name" class="form-control">
									</div>
									<div class="col-md-6">
										<label for="" class="control-label">Direcci&oacute;n Postal</label>
										<input type="text" name="name" class="form-control">
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="row">
									<div class="col-md-6">
										<label for="" class="control-label">Correo Electr&oacute;nico</label>
										<input type="text" name="name" value="" class="form-control">
									</div>
									<div class="col-md-6">
										<label for="" class="control-label">Nombre de la Compa&ntilde;&iacute;a</label>
										<input type="text" name="name" value="" class="form-control">
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="row">
									<div class="col-md-6">
										<label for="" class="control-label">Seguro Social Patronal</label>
										<input type="text" name="name" value="" class="form-control">
									</div>
									<div class="col-md-6">
										<label for="" class="control-label">N&uacute;mero de Poliza de Seguro</label>
										<input type="text" name="name" value="" class="form-control">
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="row">
									<div class="col-md-6">
										<label for="" class="control-label">Tipo de Empleador</label>
										<input type="text" name="name" value="" class="form-control">
									</div>
									<div class="col-md-6">
										<label for="" class="control-label">Direcci&oacute;n F&iacute;sica</label>
										<input type="text" name="name" value="" class="form-control">
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="row">
									<div class="col-md-6">
										<label for="" class="control-label">N&uacute;mero de Contacto</label>
										<input type="text" name="name" value="" class="form-control">
									</div>
									<div class="col-md-6">
										<label for="" class="control-label">Tipo de Negocio</label>
										<input type="text" name="name" value="" class="form-control">
									</div>
								</div>
							</div>
						</div>
					</uib-accordion-group>
					<uib-accordion-group is-open="dashboard.accordion.employee" panel-class="bg-cfse-light">
						<uib-accordion-heading>
							<span style="color: white;">
								Informaci&oacute;n del Empleado <i class="pull-right glyphicon"
								ng-class="{'glyphicon-chevron-down': dashboard.accordion.employee, 'glyphicon-chevron-right': !status.dashboard.accordion.employee}"></i>
							</span>
						</uib-accordion-heading>
						<div class="panel-body">
							<div class="form-group">
								<div class="row">
									<div class="col-md-6">
										<label for="" class="control-label">Seguro Social</label>
										<input type="text" name="name" value="" class="form-control">
									</div>
									<div class="col-md-6">
										<label for="" class="control-label">Direcci&oacute; F&iacute;sica</label>
										<input type="text" name="name" value="" class="form-control">
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="row">
									<div class="col-md-6">
										<label for="" class="control-label">Primer Apellido</label>
										<input type="text" name="name" value="" class="form-control">
									</div>
									<div class="col-md-6">
										<label for="" class="control-label">Direcci&oacute;n Postal</label>
										<input type="text" name="name" value="" class="form-control">
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="row">
									<div class="col-md-6">
										<label for="" class="control-label">Segundo Apellido</label>
										<input type="text" name="name" value="" class="form-control">
									</div>
									<div class="col-md-6">
										<label for="" class="control-label">N&uacute;mero de Contacto</label>
										<input type="text" name="name" value="" class="form-control">
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="row">
									<div class="col-md-6">
										<label for="" class="control-label">Primer Nombre</label>
										<input type="text" name="name" value="" class="form-control">
									</div>
									<div class="col-md-6">
										<label for="" class="control-label">Fax</label>
										<input type="text" name="name" value="" class="form-control">
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="row">
									<div class="col-md-6">
										<label for="" class="control-label">Segundo Nombre</label>
										<input type="text" name="name" value="" class="form-control">
									</div>
									<div class="col-md-6">
										<label for="" class="control-label">Correo Electr&oacute;nico</label>
										<input type="text" name="name" value="" class="form-control">
									</div>
								</div>
							</div>
						</div>
					</uib-accordion-group>
				</uib-accordion>
				<div class="form-group" style="margin-top: 5px;">
					<div class="row">
						<div class="col-sm-12 text-right">
							<input type="button" name="name" value="Enviar" ripple="" ng-click="app.displayCreateNewCasePanels = !app.displayCreateNewCasePanels" class="ml btn btn-oval btn-primary" style="background-color: #cd7c5e; border-color: #cd7c5e;">
						</div>
					</div>
				</div>
			</form>
		</div>
	</div> -->
</div>
