<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Inicio de sesi&oacute;n
                </div>
                <div class="panel-body">
                    <form role="form" class="mb-lg ng-pristine ng-valid">
                        <div class="form-group">
                            <label class="control-label"><i class="fa fa-user" style="margin-right: 5px;"></i>Nombre de usuario</label>
                            <input type="text" placeholder="Nombre de usuario" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label class="control-label"><i class="fa fa-lock" style="margin-right: 5px;"></i>Contrase&ntilde;a</label>
                            <input type="password" placeholder="Contrase&ntilde;a" class="form-control" />
							<div class="row">
								<div class="col-xs-6">
									<small style="font-size:12px;border-bottom:1px dashed;"><a href="">Olvide mi contrase&ntilde;a?</a></small>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-6">
									<small style="font-size:12px;border-bottom:1px dashed;" class="">
										<a href="">
											Creaci&oacute;n de usuarios
										</a>
									</small>
								</div>
							</div>
                        </div>
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-6 pull-right">
								<button type="submit" class="btn btn-default btn-block" ng-click="app.sidebar.isOffscreen = false; app.isLoggedIn = true;" ui-sref="app.dashboard">Iniciar sesi&oacute;n</button>
								<br class="visible-xs visible-sm">
							</div>
							<div class="col-xs-12 col-sm-12 col-md-6 ">
								<button type="button" class="btn btn-default btn-block">Regresar</button>
							</div>
						</div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
